.jobs-bg-container {
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  min-width: 100vw;
}

.jobs-bg-container2 {
  display: flex;
}

.hr-line {
  border: 1px solid #ffffff;
  margin-top: 10px;
}
